* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
    background: #FFFBE6;
}

form {
    background: #79CDBA;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form input {
    border: 0;
    padding: 10px;
    width: 90%;
    margin-right: .5%;
}

form button {
    width: 9%;
    background: #449885;
    border: none;
    padding: 10px;
}

#messages {
    list-style-type: none;
    margin: 0; padding: 0;
    width: 70%;
    display: inline-block;
    float: left;
    position: fixed;

    bottom: 0;
    padding-bottom: 40px;

    overflow: auto;
}


#message-container {
    position: relative;
}

#messages li {
    padding: 5px 10px;
    background: #FFFBE6;
}

#user-list li {
    color: #F4B8DB;
    padding: 3px;
    font-size: 16px;
    text-align: right;
    display: block;
}
#messages li:nth-child(odd) { background: #FFF9D3; }

#user-list {
    list-style-type: none;
}

#users-connected {
    background-color: #513344;
    /*background-color: #8E2D66;*/
    width: 29.5%;
    display: inline-block;
    float: right;
    padding: 10px;
    height: 100%;
    bottom: 0;
    position: fixed;
    right: 0;
    border-color: #2B031A;
    border-bottom-width: 1px;
}

.users-title {
    color: #E286BC;
    font-weight: bold;
    font-size: 36px;
    opacity: 0.5;
    line-height: 80%;
    text-align: right;
    display: block;
}